{% extends "base.html" %}

{% block title %}
    Edit Classroom
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark rounded shadow">
                <div class="card-header bg-danger text-white text-center">
                    <h4 class="mb-0">Edit ClassRoom</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('classroomedit', classroomID=classroomID) }}" method="post">
                        <!-- ... (other form elements) ... -->

                        <div class="mb-3">
                            <label for="operatorID" class="form-label" style="color: white;">Operator</label>
                            <select class="form-select" name="operatorID" id="operatorID" required>
                                {% for operator in operators %}
                                    <option value="{{ operator.operatorID }}" {% if classroom1.operatorID == operator.operatorID %} selected {% endif %}>{{ operator.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="mb-3">
                            <label for="departmentID" class="form-label"style="color: white;">Department</label>
                            <select class="form-select" name="departmentID" id="departmentID" required>
                                {% for department in departments %}
                                    <option value="{{ department.departmentID }}" {% if classroom1.departmentID == department.departmentID %} selected {% endif %}>{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        
                       

                        <div class="mb-3">
                            <label for="creationDate" class="form-label" style="color: white;">Creation Date</label>
                            <input type="date" class="form-control" name="creationDate" id="creationDate" value="{{ classroom1.creationDate }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="caption" class="form-label" style="color: white;">Caption</label>
                            <textarea class="form-control" name="caption" id="caption" rows="3" required>{{classroom1.caption }}</textarea>
                        </div>

                        <div class="mb-3">
                            <label for="number" class="form-label" style="color: white;">Class Number</label>
                            <input type="number" class="form-control" name="number" id="number" value="{{ classroom1.number }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="floor" class="form-label" style="color: white;">Floor number</label>
                            <input type="number" class="form-control" name="floor" id="floor" value="{{ classroom1.floor }}" required>
                        </div>

                        <div class="mb-3">
                            <label for="deleted" class="form-label" style="color: white;">Deleted</label>
                            <input type="text" class="form-control" name="deleted" id="deleted" value="{{classroom1.deleted }}" required>
                        </div>

                        <div class="d-grid gap-2 col-6 mx-auto mb-4">
                            <button type="submit" class="btn btn-success rounded-pill">Update</button>
                        </div>
                       
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock body %}





