{% extends "base.html" %}

{% block title %}
Department Edit 
{% endblock title %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark rounded shadow">
                <div class="card-header bg-danger text-white text-center">
                    <h4 class="mb-0">Edit Department</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('departmentedit', departmentID=departmentID) }}" method="post">
                        <!-- ... (other form elements) ... -->


                        <!-- Display Faculty Names Dropdown -->
                        <div class="mb-3">
                            <label for="facultyID" class="form-label" style="color: white;">Faculty</label>
                            <select class="form-select" name="facultyID" id="facultyID" required>
                                {% for faculty in faculties %}
                                    <option value="{{ faculty.facultyID }}" {% if department1.facultyID == faculty.facultyID %} selected {% endif %}>{{ faculty.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                       
                        
                        
                        
                        <div class="mb-3">
                            <label for="creationDate" class="form-label" style="color: white;">Update Date</label>
                            <input type="date" class="form-control" name="creationDate" id="creationDate" value="{{ department1.creationDate }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="name" class="form-label" style="color: white;">Department Name</label>
                            <input type="text" class="form-control" name="name" id="name" value="{{ department1.name }}" required>
                        </div>
                        
                        
                        
                        

                        <div class="mb-3">
                            <label for="descc" class="form-label" style="color: white;">Description</label>
                            <textarea class="form-control" name="descc" id="descc" rows="3" required>{{ department1.descc }}</textarea>
                        </div>

                    

                        <div class="d-grid gap-2 col-6 mx-auto mb-4">
                            <button type="submit" class="btn btn-success rounded-pill">Update</button>
                        </div>
                       
                    </form>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
{% endblock body %}




