{% extends "base.html" %}

{% block  title %}
Lecturer
{% endblock title %}



{% block body %}



<div class="container mt-3">


    <div class="row justify-content-center">
    
        <div class="col-md-4">
         
        </div>
        
        <div class="col-md-4 card bg-dark text-light p-4 shadow">

            <h4 class="text-center text-success mb-4">Add Lecturer</h4>

            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="/addlecturer" method="post">

               

                <div class="mb-3">
                    <label for="departmentID">Select Department:</label>
                    <select name="departmentID" class="form-select">
                        {% for department in departments %}
                            <option value="{{ department.departmentID }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
             
                
                <div class="form-group">
                    <label for="gender">Select Gender</label>
                    <select class="form-control" id="gender" name="gender" required>
                     
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>

               
               
                <div class="mb-3">
                    <label for="fullname" class="form-label">fullname</label>
                    <input type="text" class="form-control" id="fullname" name="fullname" pattern="[A-Za-z]+[0-9A-Za-z]*" title="Please enter a letter first, followed by numbers or additional letters." required>
                </div>
             

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
<br>
            </form>

            <a href="/lecturer" class="btn btn-outline-info btn-arrow">
                <span class="fas fa-arrow-right"></span> Go to Datales Page
            </a>

        </div>
        
        <div class="col-md-4">
    
        </div> 
    
    </div>

</div>

{%endblock body%}