<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
     
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block  css %}{% endblock css %}

    <title>
        {% block  title %}{% endblock title %}
    </title>
   
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">IPS Attendance</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Architecture</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/faculty_Details">Faculty</a></li>
                <li><a class="dropdown-item" href="/DepartmentDetails">Department</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/classroomsDetails">Class Room</a></li>
                <li><a class="dropdown-item" href="/Courses">Courses</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lecturer">Lecturer</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Students</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/students">Add Student</a></li>
                <li><a class="dropdown-item" href="/details">Details</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/attendance">Attendance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/beacons">Beacons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Dashboard">Dashboard</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Welcome {{current_user.username}}</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                <li><a class="dropdown-item" href="/signUp">Sign Up</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Authentication</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/login">Login</a></li>
                <li><a class="dropdown-item" href="/signUp">Sign Up</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" method="POST" action="">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
    
        </div>
      </div>
    </nav>
    
      {% block body %}
      
      
      {% endblock body %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js" integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>