{% extends "base.html" %}

{% block  title %}
ClassRoom
{% endblock title %}


{% block body %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4 card bg-dark text-light p-4 shadow">
            <h4 class="text-center text-success mb-4">Add Class Room</h4>
            {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <form action="{{ url_for('addclassroom') }}" method="post" novalidate>
                <script>
                    // Get the department select element
                    var departmentSelect = document.getElementById("departmentID");
                    
                    // Add event listener to check validity on change
                    departmentSelect.addEventListener("change", function() {
                        if (this.value === "") {
                            this.setCustomValidity("Please select a department");
                        } else {
                            this.setCustomValidity("");
                        }
                    });
                </script>
                
                <div class="mb-3">
                    <label for="departmentID">Select Department:</label>
                    <br>
                    <select name="departmentID" class="form-select">
                        {% for department in departments %}
                            <option value="{{ department.departmentID }}">{{ department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                
                <div class="mb-3">
                    <label for="caption" class="form-label">Caption</label>
                    <input type="caption" class="form-control" id="caption" name="caption"pattern="[A-Za-z]+[0-9A-Za-z]*" title="Please enter a letter first, followed by numbers or additional letters."  required>
                    <div class="invalid-feedback">
                        Please provide a valid classroom caption.
                    </div>
                </div>
              
                <div class="mb-3">
                    <label for="number" class="form-label">Classroom Number</label>
                    <input type="number" class="form-control" id="number" name="number" pattern="[0-9]*" title="Please enter a valid number" required>
                    <div class="invalid-feedback">
                        Please provide a valid classroom number.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="floor" class="form-label">Floor Number</label>
                    <input type="number" class="form-control" id="floor" name="floor" required>
                    <div class="invalid-feedback">
                        Please provide a valid floor number.
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-success btn-arrow">Add</button>
                </div>
                <br>
                <br>
            </form>
            <a href="/classroomsDetails" class="btn btn-outline-info btn-arrow">
                <span class="fas fa-arrow-right"></span> Go to Datales Page
            </a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
{% endblock body %}
